.alarm-title{
    width:96px;
    height:40px;
    background:rgba(255,255,255,1);
    border-radius:5px;
    border:1px solid rgba(242,242,242,1);
    font-size:14px;
    font-family:PingFangSC-Semibold;
    font-weight:600;
    color:rgba(36,95,240,1);
    line-height:20px;
    display: inline-block;
    padding: 10px 18px;
}

.alarm-case-block{
    width:100%;
    min-height:95px;
    background:rgba(255,255,255,1);
    border-radius:5px 5px 0px 0px;
    border:1px solid rgba(242,242,242,1);
    padding: 10px 30px;
    font-size:14px;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(80,80,80,1);
    line-height:20px
}

.alarm-checkbox {
    display: inline-block;
    background: url(/static/img/checkbox_m1_unchecked.svg) no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;
    border: none;
}

input[type="checkbox"]:checked + .alarm-checkbox{
    background: url(/static/img/checkbox_m1_checked.svg) no-repeat;
    background-position: center; 
}

.alarm-right-button{
    text-decoration: none;
    font-size:14px;
    font-family:PingFangSC-Semibold;
    font-weight:400;
    color:rgba(80,80,80,1);
    line-height:20px;
    margin: 0px 15px;
}

.alarm-status{
    font-size:14px;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(255,255,255,1);
    line-height:22px;
    padding: 2px 4px;
    border-radius: 10px;
}