.command-log{
    width:96px;
    height:40px;
    background:rgba(255,255,255,1);
    border-radius:5px;
    border:1px solid rgba(242,242,242,1);
    margin: 0 5px;
}

.command-input-command{
    width:96px;
    height:40px;
    background:rgba(255,255,255,1);
    border-radius:5px;
    border:1px solid rgba(242,242,242,1); 
    margin: 0 5px;   
}

.command-security-audit{
    width:159px;
    height:40px;
    background:rgba(255,255,255,1);
    border-radius:5px;
    border:1px solid rgba(242,242,242,1);
    margin: 0 5px;
}

.command-input-box{
    width: 100%;
    height:40px;
    background:rgba(255,255,255,1);
    border-radius:5px 5px 0px 0px;
    border:1px solid rgba(242,242,242,1);
}

.command-log-display{
    min-height: 330px;
    background:rgba(255,255,255,1);
    border:1px solid rgba(242,242,242,1);
}

.command-button-word{
    font-size:18px;
    font-family:PingFangSC-Semibold;
    font-weight:600;
    color:rgba(255,255,255,1);
    line-height:25px;
    margin: 10px 40px 10px 38px;
}

input::-webkit-input-placeholder {
    font-size:14px;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(177,177,177,1);
    line-height:20px;
    padding-left:10px;
} 

.command-security-audit-label{
    width: 100%;
    height:40px;
    background:rgba(255,255,255,1);
    border-radius:5px 5px 0px 0px;
    border:1px solid rgba(242,242,242,1);
    padding: 10px 5px 10px 20px;
    font-size:14px;
    font-family:PingFangSC-Semibold;
    font-weight:600;
    color:rgba(80,80,80,1);
    line-height:20px;
}

.command-security-audit-run{
    width:100%;
    height:81px;
    background:rgba(255,255,255,1);
    border-radius:0px 0px 5px 5px;
    border:1px solid rgba(242,242,242,1);
}

.command-detail-report{
    width:100%;
    min-height:500px;
    background:rgba(255,255,255,1);
    border:1px solid rgba(242,242,242,1);
}

.command-detail-button{
    margin: 0px;
    height:40px;
    background:rgba(242,242,242,1);
    border:1px solid rgba(250,250,250,1);
    font-size:14px;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(177,177,177,1);
    line-height:20px;
    padding: 10px 33px;
    cursor: pointer;
    display: inline-block;
}

.command-detail-button-clicked{
    margin: 0px;
    height:40px;
    font-size:14px;
    font-family:PingFangSC-Semibold;
    font-weight:600;
    color:rgba(36,95,240,1);
    line-height:20px;
    padding: 10px 33px;
    display: inline-block;
}