.my-container-fluid {
	margin-left: 80px;
	padding-left: 20px;
	padding-right: 20px;
*zoom:1;
}
.my-container-fluid:before, .my-container-fluid:after {
	display: table;
	content: "";
}
.my-container-fluid:after {
	clear: both;
}


.graph-legend-header{
	background:rgba(246,246,246,1);
	padding-left: 10px;
	height: 22px;
	font-size:10px;
	font-family:PingFangSC-Semibold;
	font-weight:600;
	color:rgba(153,153,153,1);
	line-height:14px;
}

.audit-display-pre {
	display: inline;
	overflow: inherit;
	background-color: #fff;
	border: none;
	font-size: 14px;
    line-height: 1.42857143;
	color: #555;
	padding: 0px;
	margin: 0px;
}

.visual_report_header {
	font-size:14px;
	font-family:PingFangSC-Semibold;
	font-weight:600;
	color:rgba(18,26,42,1);
	line-height:20px;
	margin-bottom: 15px;
}


.problem-num{
	height:20px;
	background:rgba(221,77,84,1);
	border-radius:10px;
	font-size:14px;
	font-family:PingFangSC-Semibold;
	font-weight:600;
	color:rgba(255,255,255,1);
	line-height:20px;
	padding: 0px 14px;
	margin-left: 20px;
}

.report-dropdown{
	margin-right: 8px;
	cursor: pointer;
}