.homepage-top-link-button{
    background: transparent;
    height:32px;
    font-size:14px;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(177,177,177,1);
    line-height:20px;
    padding: 6px 0px;
}


.homepage-select{
    height:40px;
    background:rgba(255,255,255,1);
    border-radius:5px;
    border:1px solid rgba(242,242,242,1);
    display: inline-block;
    font-size:14px;
    font-family:PingFangSC-Regular;
    font-weight:600;
    color:rgba(177,177,177,1);
    line-height:20px;
    padding: 10px 19px;
}

.screen-select{
    height:40px;
    background:rgba(255,255,255,1);
    border-radius:5px 0px 0px 5px;
    border:1px solid rgba(242,242,242,1);
    display: inline-block;
    font-size:14px;
    font-family:PingFangSC-Semibold;
    font-weight:600;
    color:rgba(36,95,240,1);
    line-height:20px;
    padding: 10px 30px;
}

.screen-select-word {
    font-size:14px;
    font-family:PingFangSC-Semibold;
    font-weight:600;
    color:rgba(17,17,17,1);
    line-height:20px;
}