.login-form{
    position: absolute;
    left: 33%;
    top: 24%;
    width: 33%;
}

.login-large{
    width:64px;
    height:45px;
    font-size:32px;
    font-family:PingFangSC-Semibold;
    font-weight:600;
    color:rgba(80,80,80,1);
    line-height:45px;
}

.login-username{
    width:42px;
    height:20px;
    font-size:14px;
    font-family:PingFangSC-Semibold;
    font-weight:600;
    color:rgba(129,129,129,1);
    line-height:20px;
    margin-top: 30px;
}

.login-password{
    width:28px;
    height:20px;
    font-size:14px;
    font-family:PingFangSC-Semibold;
    font-weight:600;
    color:rgba(129,129,129,1);
    line-height:20px;
    margin-top: 20px;
}

.login-input{
    width:100%;
    height:40px;
    background:rgba(255,255,255,1);
    border-radius:5px;
    border:1px solid rgba(242,242,242,1);
    margin-top: 5px;
}


.login-button{
    background:rgba(36,95,240,1);
    border-radius:5px;
    font-size:15px;
    font-family:PingFangSC-Semibold;
    font-weight:600;
    color:rgba(255,255,255,1);
    line-height:20px;
}

.ldap-select{
    background:rgba(255,255,255,1);
    border-radius:2px;
    border:1px solid rgba(242,242,242,1);
}


.ldap-word{
    font-size:12px;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(80,80,80,1);
    line-height:17px;
    display: inline;
}
.register-word{
    margin-top: 7px;
    float: right;
    font-size:12px;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(80,80,80,1);
    display: inline-block;
}

.register-form{
    position: absolute;
    left: 33%;
    top: 24%;
    width: 33%;
}

.register-form-word{
    height:20px;
    font-size:14px;
    font-family:PingFangSC-Semibold;
    font-weight:600;
    color:rgba(129,129,129,1);
    line-height:20px;
    margin-top: 10px;   
}

.register-large{
    width:64px;
    height:45px;
    font-size:32px;
    font-family:PingFangSC-Semibold;
    font-weight:600;
    color:rgba(80,80,80,1);
    line-height:45px;
}

.register-input{
    width:100%;
    height:40px;
    background:rgba(255,255,255,1);
    border-radius:5px;
    border:1px solid rgba(242,242,242,1);
    margin-top: 3px;
}


.register-button{
    background:rgba(36,95,240,1);
    border-radius:5px;
    font-size:15px;
    font-family:PingFangSC-Semibold;
    font-weight:600;
    color:rgba(255,255,255,1);
    line-height:20px;
}
