{% extends "portal/layout.html" %}
{% block content %}
<script>
    <!--
    function timedRefresh(timeoutPeriod) {
        setTimeout("location.reload(true);",timeoutPeriod);
    }
    
    window.onload = timedRefresh(60000);
    
    //   -->
</script>
<center><h3> <b>Active Process</b> </h3></center> 

<table class="table table-hover table-bordered table-striped" style="margin-bottom: 0px; margin-top: 10px;">
    <thead>
    <tr>
        <th>Process Name</th>
        <th>PID</th>
        <th>User</th>
        <th>CPU Usage</th>
        <th>Memory Usage</th>
        <th>Time</th>
    </tr>
    </thead>
    <tbody>
        {% for proc in data %}
        <tr>
            {% for prop in proc%}
            <td>
                {{prop}}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
