{% extends "auth/base.html" %}

{%block head_js%}
    {{super()}}
    <script>
    $(function() {
        $("#password").keypress(function(e) {
            var key = e.which;
            if (key == 13) {
                login();
            }
        });
    });
    </script>

{%endblock%}

{% block body_head%}
<body style="margin: 0; padding: 0; font-size:12px;" class="login-background">
{%endblock%}

{% block container_outer %}

	<div id="container" class="container-fluid" style="padding: none;" >
		<div class="login-page-body">
			<div class="login-left-word" >
				<div>
					<span class="large-bold">
							Good Night
					</span>
				</div>
				<div style="margin-top: 17px;">
					<span class="little-grey">
							With an intuitive vector editor, lightning fast prototyping and powerful collaboration tools, Sketch has everything you need to turn your ideas into incredible products.
					</span>
				</div>
				<div style="margin-top: 59px;">
					<span class="middle-blue">
							· The best products start
					</span>
				</div>
			</div>
			<div style="float: right; width: 560px; padding: 0; display: inline-block;">
				<div class="login-form">

				<div>
						<div class="panel panel-default" style="border: none; background:transparent;"> 
							<h3 class="panel-title login-large">
								登录
							</h3>
						<div  >
							<div role="form" style="margin-top: 50px;">
								<span class="login-word">用户名</span>
								<div class="form-group" style="margin-top: 10px; margin-bottom: 20px;">
									<input type="text" id="name"
									class="form-control login-input" required autofocus />
								</div>
								<span class="login-word">密码</span>
								<div class="form-group" style="margin-top: 10px; margin-bottom: 30px;">
									<input type="password" id="password"
									class="form-control login-input" required />
								</div>

								<button style="margin: 0px; width: 480px;" class="btn btn-default btn-block large-button-blue" type="button" id="sign"
								onclick="login();">登录</button>
								<div style="border: none; margin-top: 30px;">

											<label class="pull-left">
													<input type="checkbox" id="ldap"> <span class="little-pingfang-grey">ldap用户</span> 
											</label>

									
									<span class="little-pingfang-grey pull-right" style="display: inline-block; ">
										没有账户？ <a href="/auth/register"> <span style="font-family: PingFangSC-Semibold; color:rgba(36, 95, 240, 1) "> 注册新用户</span></a>
									</span>

								</div>

							</div>
						</div>
					</div>
				</div>
			</div>

			</div>
		</div>
	</div>


{%endblock%}
