{% extends "portal/layout.html" %}
{% block more_head %}
<script src="/static/js/portal_command.js"></script>
<script>

        $(function(){
            $("#execute-command").keydown(function(event){
                if(event.keyCode == 13){
                    fn_search_log_file();
                    event.preventDefault();
                    return false;
                }
            });

        })

</script>
<style>
.command-display {
        display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.command-display:empty{
    border: none;
}
  </style>
{% endblock %}


{% block content %}
{% block main_section%}
<div class="row">
        <div class="col-md-12">
            <a href="/portal/file_log">
                <span class="button-grey pull-left" style="margin: 0px 10px 0px 0px;"> 
                    查看日志
                </span>
            </a>
                
            <a href="/portal/bash_command">
                <span class="button-blue pull-left" style="margin: 0 10px; font-weight: 600;">
                    输入命令
                </span>
            </a>
        
            <a href="/portal/security_audit">
                <span class="button-grey pull-left" style="margin: 0 10px;">
                    基线核查
                </span>
            </a>

            <a href="/portal/access_detect">
                <span class="button-grey pull-left" style="margin: 0 10px;">
                    入侵检测
                </span>
            </a>
        </div>
    </div>
    
    <div class="row" style="margin-top: 15px; margin-bottom: 0px;" >
        <div class="col-md-12">
            <input  style="padding: 15px 20px;" id="execute-command" name="execute_command" type="text" class="command-input-box" list="cmd_history" placeholder="在此处输入要执行的命令">
            <datalist id="cmd_history">
                {% for single_cmd in history_cmds%}
                    <option>{{single_cmd}}</option>
                {%endfor%}
            </datalist>
        </div>

        <div class="col-md-12">
            <pre id="command_result" class="command-log-display" style="padding: 15px 20px;"></pre>    
        </div>
    </div>

    <div class="row" style="margin-top: 10px; padding: 0px;">
        <div class="col-md-12">
            <span class="large-button-blue" onclick="fn_search_log_file();" style="margin-left: 0px;  margin-top: 0px; margin-right: 15px;"> 查看 </span>
            <span class="large-button-green" onclick="refresh_command();" style="margin: 0px;"> 刷新 </span>
        </div>
    </div>

        

    {%endblock%}
{% endblock %}
