{% extends "base.html" %}

{% block more_head %}
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='img/logo.png') }}"/>
    <script type="text/javascript" src="{{ url_for('static', filename='js/portal.js') }}"></script>
{% endblock %}

{%block navbar%}
  {%include "navbar.html"%}
{%endblock%}

{%block container%}
<div id="container" class="container-fluid" style="padding-left: 0px;">
	<div class="row">
            <div class="form-inline" role="form">
                    <div class="col-md-12" style="margin-bottom: 10px;">
            
                            <div class="expression-search pull-left">
                                    <input type="text" value="{{ data.query }}" class="expression-search-input" id="query"
                                    placeholder="搜索.." onkeydown="if(event.keyCode==13)query_expression()">
                                    <button type="button" onclick="query_expression();" class="btn btn-default" style="border: none; height: 38px; margin-top: 0px; margin-bottom:3px; margin-right: 0px;">
                                            <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </div>
                        
                                <div class="expression-display-only-related pull-left">
                                        只显示与我有关
                                        <input type="checkbox" name="mine" id="mine" {% if data.mine == '1' %}checked="checked"{% endif %}>
                                </div>
                        
                        
                                {%if g.user.is_root() or g.user.is_admin()%}
                               
                                    <a href="{{ url_for('expression_add_get') }}" class="expression-add-block pull-right">
                                        <span class="glyphicon glyphicon-plus"  style="border: none; height: 35px; margin-top: 3px; margin-bottom:0px; margin-right: 0px;" ></span>
                                        增加报警规则
                                    </a>
                                </div>
                                {%endif%}
                    </div>
                </div>
            
                <div class="row" style="margin-top:5px;"></div>
                <div>
                    {% set left = '{' %}
                    {% set right = '}' %}
                    {% for v in data.vs %}
            
                        <div class="expression-single-block">
            
                                {% if v.writable(g.user) %}
                                <div class="expression-button-list pull-right ">
                                    {% if g.user.is_root() or g.user.is_admin()%}
                                        <button onclick="pause_expression('{{v.id}}')" class="btn btn-default expression-button">
                                            <span id="i-{{v.id}}" class="glyphicon glyphicon-{% if v.pause %}play{% else %}pause{% endif %} orange" style="color: rgba(100,100,100,3)"></span>
                                        </button>
                                        <a href="{{ url_for('expression_add_get', id=v.id) }}" class="btn btn-default expression-button"
                                           style="text-decoration: none;">
                                            <span class="glyphicon glyphicon-edit orange" style="color:rgba(100,100,100,3);"></span>
                                        </a>
                                        <button onclick="delete_expression('{{ v.id }}');" class="btn btn-default expression-button">
                                            <span class="glyphicon glyphicon-trash orange" style="color:rgba(100,100,100,3);"></span>
                                        </button>
                                    {% endif%}
                                    </div>
                                {% endif %}
            
                        <div class="expression-expression-word">{{ v.expression }}</div>
                        <div class="mt10">
                            <span class="gray expression-note-word">if {{ v.func }}{{ v.op }}{{ v.right_value }}
                                {{ left }}{{ v.action.html()|safe }}{{ right }}</span>
            
                        </div>
                        <div class="mt10 gray expression-note-word">
                            note: {{ v.note }} (Max:{{ v.max_step }}, P{{ v.priority }})
                            by {{ v.create_user }}
                        </div>
            
                    {% else %}
                        <hr>
                        no records
            
                    </div>
            
                    {% endfor %}
            
            
                </div>
            
                {% import "portal/blocks.html" as blocks %}
                {{ blocks.pager('/portal/expression?q='+data.query+'&mine='+data.mine, data.total, data.limit, data.page) }}
            
                <br/>
                <br/>
                <br/>
                <br/>
            
                <script>
                    $(function () {
                        $("#mine").click(query_expression);
                    });
                </script>
                </div>
</div>
{%endblock%}
