{% extends "portal/layout.html" %}
{% block content %}

<div class="row">
    <div class="col-md-12">
        <span class="button-blue" style="cursor: unset; font-weight: 600">报警记录</span>

        <div class="pull-right">
            <div class="pull-left" style="display: inline-block"> <a href="javascript:alarm_case_all_select();" style="text-decoration:none"><span class="button-grey">全选</span> </a> </div>
            <div class="pull-left" style="display: inline-block"><a href="javascript:alarm_case_reverse_select();" style="text-decoration:none"><span class="button-grey">反选</span> </a></div> 
            {%if g.user.is_root() or g.user.is_admin()%}
            <span class="button-red" onclick="alarm_case_batch_rm();">批量删除</span>
            {%endif%}
            <a href="/portal/alarm-dash/case?status=PROBLEM" style="text-decoration: none; margin-left: 15px;"><span class="button-grey">未覆盖记录</span> </a>
        </div>
    </div>
</div>

<div class="row" style="margin-top: 15px">
    <div class="col-md-12">
            <div class="alarms">
                {%for case in cases%}
                <div class="alarm-case-block" style="padding-left:0px;">
                    <div class="expression-checkbox pull-left"  style="margin:25px;">
                            <input type="checkbox" alarm="{{case.id}}" id="alarm-{{case.id}}" style="display: none;">
                            <label for="alarm-{{case.id}}" class="alarm-checkbox" ></label>
                    </div>

                        <div style="display: inline-block; margin-top: 10px; margin-bottom: 5px;">
                            {%if case.status=='PROBLEM'%}预警{%else%}已恢复{%endif%} P{{case.priority}}
                            [第<span class="blue">#{{case.current_step}}</span>次/最大{{case.max_step}}次]
                            <span class="gray">{{case.timestamp|time_duration}}</span>
                        </div>

                    <div class="pull-right" style="margin: 28px 0px 25px 0px;">
                    
                            <a href="/portal/template/view/{{case.template_id}}" target="_blank" class="alarm-right-button"> 模板</a>
        
                            {%if case.strategy_id>0%}
                            <a href="/portal/strategy/{{case.strategy_id}}" target="_blank" class="alarm-right-button">策略</a>
                            {%endif%}
        
                            {%if case.expression_id>0%}
                            <a href="/portal/expression/view/{{case.expression_id}}" target="_blank" class="alarm-right-button">表达式</a>
                            {%endif%}
        
                            {%if g.user.is_root() or g.user.is_admin()%}
                            <a href="javascript:alarm_case_rm('{{case.id}}');" class="alarm-right-button">删除</a>
                            {%endif%}
        
                            <a href="/portal/alarm-dash/case/event?case_id={{case.id}}" class="alarm-right-button" style="margin-right: 10px;">{{_('事件表')}}</a>
                    </div>

                    </br>

                    <div style="margin-top: 10px;">
                            <span style="padding-left:0px;"> {{case.endpoint}} 
                                    <span class="cut-line">¦</span> 
                                    {{case.metric}}
                                    <span class="cut-line">¦</span> 
                                    {{case.func}} 
                                    <span class="cut-line">¦</span> 
                                    {{case.cond}}</span>
                                    <span class="cut-line">¦</span> 
                                    <span >note: {{case.note}}</span>
                    </div>
                </div>
                {%endfor%}
        </div>


        {% import "portal/blocks.html" as blocks %}
        <div class="pull-left">
            {{ blocks.pager('/portal/alarm-dash/case?status='+status, total, limit, page) }}
        </div>
    </div>
</div>

{%endblock%}
