{% extends "screen/base.html" %}

{% block container %}
<div class="row">
        <div class="col-md-12" style="margin-bottom: 15px;">
            <span class="button-blue pull-left" style="cursor: default; font-weight: 600;">监控图表</span>
            <a href="/screen/add">
                <span class="button-grey pull-right" style="padding-left: 15px;"><span style="margin-right: 5px;"> <img src="/static/img/add.svg" alt="" style="margin-top: -2px;"></span>       增加监控图表</span>
            </a>
        </div>
    </div>
<div class="row-fluid">
    <a href="#container"></a>
    <div class="col-md-12" style="padding-left:0px;">
        <ul class="mybreadcrumb" style="background: none; padding-left:0px;">
            <div class="pull-left" style="display: inline-block;"> {{screen_layout.screen_main_menu(screen, top_screens)}} </div>
            <div class="pull-left" style="display: inline-block;"> {{screen_layout.screen_sub_menu(screen, None, sub_screens)}} </div>
        </ul>
    </div>
</div>
{%endblock%}
