{% extends "portal/layout.html" %}
{% block more_head %}
<script src="/static/js/portal_audit.js"></script>
<style>
    .audit-display {
            display: block;
      width: 100%;
      padding: 6px 12px;
      font-size: 14px;
      line-height: 1.42857143;
      color: #555;
      background-color: #fff;
      background-image: none;
      border: none;
      border-radius: 4px;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
              box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
      -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
           -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
              transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }
    .audit-display:empty{
        border: none;
    }
      </style>

{% endblock %}


{% block content %}
{% block main_section%}
<div class="row">
        <div class="col-md-12">
            <a href="/portal/file_log">
                <div class="command-log pull-left" style="margin-left: 0px;">
                    <div class="netflow-word-white">
                        查看日志
                    </div>
                </div>
            </a>
                
            <a href="/portal/bash_command">
                <div class="command-input-command pull-left">
                    <div class="forbid-ip-word">
                        输入命令
                    </div>
                </div>
            </a>
        
            <a href="/portal/security_audit">
                <div class="command-security-audit pull-left">
                    <div class="forbid-ip-word-blue">
                        基线核查/入侵检测
                    </div>
                </div>
            </a>
        </div>
    </div>
    
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-12">
            <div class="command-security-audit-label">基线核查/入侵检测</div>
            <div class="command-security-audit-run"> 
                <div id="refresh_button" class="command-security-audit-lynis-button pull-left" onclick="start_audit('lynis');" >运行lynis</div>
                <div id="refresh_button" class="command-security-audit-get-report-button" onclick="get_report('lynis');">获取lynis报告 </div>
            </div>

            <div class="command-security-audit-run"> 
                <div id="refresh_button" class="command-security-audit-GScan-button pull-left" onclick="start_audit('GScan');">运行GScan</div>
                <div id="refresh_button" class="command-security-audit-get-report-button" style="padding: 10px 23px;" onclick="get_report('GScan');">获取GScan报告 </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 10px;">
        <div class="col-md-12">
            <div id="command-security-audit-display" class="command-detail-report" style="display: none;">
                    <div id="lynis_details" style="display: none">
                            <div id="command-lynis-report" class="command-detail-button-clicked pull-left" onclick="get_lynis_details('report')">完整报告</div>
                            <div id="command-lynis-warning" class="command-detail-button pull-left" onclick="get_lynis_details('warning')">可疑问题</div>
                            <div id="command-lynis-suggestion" class="command-detail-button pull-left" onclick="get_lynis_details('suggestion')" style="padding: 10px 40px">建议</div>
                        </div>
            
                        <div id="GScan_details" style="display: none"> 
                                <div id="command-GScan-report" class="command-detail-button-clicked pull-left" onclick="get_Gscan_details('report')">完整报告</div>
                                <div id="command-GScan-all" class="command-detail-button pull-left" onclick="get_Gscan_details('all')" style="padding: 10px 19px">所有问题信息</div>
                                <div id="command-GScan-entry-info" class="command-detail-button pull-left" onclick="get_Gscan_details('entry_info')" style="padding: 10px 19px">入侵起点信息</div>
                                <div id="command-GScan-vulun-poss" class="command-detail-button pull-left" onclick="get_Gscan_details('vulun_poss')" style="padding: 10px 12px">风险及可疑信息</div>
                        </div>
            
                        <pre id="audit-result" class="audit-display"></pre>
            </div>
        </div>

    </div>

    {%endblock%}
{% endblock %}
