{% extends "portal/layout.html" %}
{% block more_head %}
<script src="/static/js/portal_audit.js"></script>
<style>
    .audit-display {
            display: block;
      width: 100%;
      padding: 6px 12px;
      font-size: 14px;
      line-height: 1.42857143;
      color: #555;
      background-color: #fff;
      background-image: none;
      border: 1px solid #ccc;
      border-radius: 4px;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
              box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
      -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
           -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
              transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }
    .audit-display:empty{
        border: none;
    }
      </style>

{% endblock %}


{% block content %}
{% block main_section%}
        <div class="row">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <img class="loading pull-right" src="/static/img/loading.gif" style="display:none;"></img>
                            {{_('选择用来执行核查的脚本')}}
                        </div>

                        <div class="panel-body">
                            <div>
                                    <button id="refresh_button" class="btn btn-info" onclick="start_audit('lynis');" >{{_('运行lynis')}}</button>
                                    <button id="refresh_button" class="btn btn-info" onclick="get_report('lynis');" >{{_('获取lynis报告')}}</button>
                            </div>
                            <hr/>
                            <div>
                                    <button id="refresh_button" class="btn btn-info" onclick="start_audit('GScan');" >{{_('运行GScan')}}</button>
                                    <button id="refresh_button" class="btn btn-info" onclick="get_report('GScan');" >{{_('获取GScan报告')}}</button>
                            </div>

                            <div id="lynis_details" style="display: none;">
                                    <hr/>
                                    <button class="btn btn-info" onclick="get_lynis_details('report')">{{_('完整报告')}}</button>
                                    <button class="btn btn-info" onclick="get_lynis_details('warning')">{{_('可疑问题')}}</button>
                                    <button class="btn btn-info" onclick="get_lynis_details('suggestion')">{{_('建议')}}</button>
                                </div>

                            <div id="GScan_details" style="display: none;">
                                <hr/>
                                <button class="btn btn-info" onclick="get_Gscan_details('report')">{{_('完整报告')}}</button>
                                <button class="btn btn-info" onclick="get_Gscan_details('all')">{{_('所有问题信息')}}</button>
                                <button class="btn btn-info" onclick="get_Gscan_details('entry_info')">{{_('入侵起点信息')}}</button>
                                <button class="btn btn-info" onclick="get_Gscan_details('vulun_poss')">{{_('风险及可疑信息')}}</button>
                            </div>
                            <hr/>
                            <pre id="audit-result" class="audit-display"></pre>
                        </div>
                    </div>

            </div>
        
        </div>

    {%endblock%}
{% endblock %}
