{% extends "portal/layout.html" %}
{% block more_head %}
<script src="/static/js/portal_audit.js"></script>
<style>
    .audit-display {
            display: block;
      width: 100%;
      padding: 0px 12px 15px 12px;
      font-size: 14px;
      line-height: 1.42857143;
      color: #555;
      background-color: #fff;
      background-image: none;
      border: none;
      border-radius: 4px;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
              box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
      -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
           -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
              transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }
    .audit-display:empty{
        border: none;
    }
      </style>

{% endblock %}


{% block content %}
{% block main_section%}
<div class="row">
        <div class="col-md-12">
            <a href="/portal/file_log">
                <span class="button-grey pull-left" style="margin: 0px 10px 0px 0px;"> 
                    查看日志
                </span>
            </a>
                
            <a href="/portal/bash_command">
                <span class="button-grey pull-left" style="margin: 0 10px;">
                    输入命令
                </span>
            </a>
        
            <a href="/portal/security_audit">
                <span class="button-blue pull-left" style="margin: 0 10px; font-weight: 600;">
                    基线核查
                </span>
            </a>

            <a href="/portal/access_detect">
                <span class="button-grey pull-left" style="margin: 0 10px;">
                    入侵检测
                </span>
            </a>

        </div>
    </div>
    
    <div class="row" style="margin-top: 15px;">
        <div class="col-md-12">
            <div class="command-security-audit-label">基线核查</div>
            <div class="command-security-audit-run"> 
                <span id="refresh_button" class="large-button-blue pull-left" style="margin-left: 20px;" onclick="start_audit('lynis');" >运行lynis</span>
                <span id="refresh_button" class="large-button-blue" onclick="get_report('lynis');">获取lynis报告 </span>
            </div>

        </div>
    </div>

    <div class="row" style="margin-top: 20px;">
        <div class="col-md-12">
            <div id="command-security-audit-display" class="command-detail-report" style="display: none;">
                    <div id="lynis_details" style="display: none">
                            <span id="command-lynis-visual-report" class="command-detail-button-clicked pull-left" onclick="get_lynis_details('visual_report')">可视化报告</span>
                            <span id="command-lynis-report" class="command-detail-button pull-left" onclick="get_lynis_details('report')">完整报告</span>
                            <span id="command-lynis-warning" class="command-detail-button pull-left" onclick="get_lynis_details('warning')">可疑问题</span>
                            <span id="command-lynis-suggestion" class="command-detail-button pull-left" onclick="get_lynis_details('suggestion')" style="padding: 15px 40px">建议</span>

                            <button class="button-blue pull-right" style="color:rgba(80,80,80,1);" onclick="report_hide_all()">全部收起</button>
                            <button class="button-blue pull-right" style="color:rgba(80,80,80,1);" onclick="report_display_all()">全部展开</button>
                        </div>
            
                        <pre id="audit-result" class="audit-display"></pre>
                        <div id="visual-audit-result" class="audit-display"></div>
            </div>
        </div>

    </div>

    {%endblock%}
{% endblock %}
