{% extends "portal/layout.html" %}
{% block more_head %}
<script src="/static/js/portal_log.js"></script>
<script>

        $(function(){
            $("#logfile-search").keydown(function(event){
                if(event.keyCode == 13){
                    fn_search_log_file();
                    event.preventDefault();
                    return false;
                }
            });

        })

</script>
<style>
.log-display {
        display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.log-display:empty{
    border: none;
}
  </style>
{% endblock %}


{% block content %}
{% block main_section%}
        <div class="row">
            <div class="col-md-12">
                <a href="/portal/file_log">
                    <div class="command-log pull-left" style="margin-left: 0px;">
                        <div class="netflow-word">
                            查看日志
                        </div>
                    </div>
                </a>
                    
                <a href="/portal/bash_command">
                    <div class="command-input-command pull-left">
                        <div class="forbid-ip-word">
                            输入命令
                        </div>
                    </div>
                </a>
            
                <a href="/portal/security_audit">
                    <div class="command-security-audit pull-left">
                        <div class="forbid-ip-word">
                            基线核查/入侵检测
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="row" style="margin-top: 10px;">
            <div class="col-md-12">
                <input id="logfile-search" name="logfile_search" type="text" class="command-input-box" list="file_path_history" placeholder="在此处输入想要查看日志文件的路径">
                <datalist id="file_path_history">
                    {% for single_path in history_paths%}
                        <option> {{ single_path }}</option>
                    {%endfor%}
                </datalist>
            </div>

            <div class="col-md-12">
                    <pre id="log-file-content" class="command-log-display"></pre>
            </div>

        </div>

        <div class="row" style="margin-top: 10px">

            <div class="col-md-12">

                    <div class="command-button1"> <div class="command-button-word" onclick="fn_search_log_file();">查看</div> </div>
                    <div class="command-button2"><div class="command-button-word" onclick="refresh_log();">刷新</div></div>
            </div>
        </div>


  

    {%endblock%}
{% endblock %}
