{% extends "portal/layout.html" %}
{% block more_head %}
<script src="/static/js/portal_log.js"></script>
<script>

        $(function(){
            $("#logfile-search").keydown(function(event){
                if(event.keyCode == 13){
                    fn_search_log_file();
                    event.preventDefault();
                    return false;
                }
            });

        })

</script>
<style>
.log-display {
        display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.log-display:empty{
    border: none;
}
  </style>
{% endblock %}


{% block content %}
{% block main_section%}
        <div class="row">
            <div class="col-md-12">
                <a href="/portal/file_log">
                        <span class="button-blue pull-left" style="margin: 0px 5px 0px 0px;"> 
                            查看日志
                        </span>
                </a>
                    
                <a href="/portal/bash_command">
                        <span class="button-grey pull-left" style="margin: 0 5px;">
                            输入命令
                        </span>
                </a>
            
                <a href="/portal/security_audit">
                        <span class="button-grey pull-left" style="margin: 0 5px;">
                            基线核查/入侵检测
                        </span>
                </a>
            </div>
        </div>

        <div class="row" style="margin-top: 10px;">
            <div class="col-md-12">
                <input id="logfile-search" name="logfile_search" type="text" class="command-input-box" list="file_path_history" placeholder="在此处输入想要查看日志文件的路径">
                <datalist id="file_path_history">
                    {% for single_path in history_paths%}
                        <option> {{ single_path }}</option>
                    {%endfor%}
                </datalist>
            </div>

            <div class="col-md-12">
                    <pre id="log-file-content" class="command-log-display"></pre>
            </div>

        </div>

        <div class="row" style="margin-top: 10px">

            <div class="col-md-12">

                    <span class="large-button-blue" onclick="fn_search_log_file();" style="margin-left: 0px;">查看 </span>
                    <span class="large-button-green" onclick="refresh_log();">刷新</span>
            </div>
        </div>


  

    {%endblock%}
{% endblock %}
