{% extends "portal/layout.html" %}
{% block content %}
<script src="/static/js/flows.js"></script>
<script src="/static/js/bootstrapSwitch.js"></script>
<link rel="stylesheet" href="/static/css/bootstrapSwitch.css">
<center><h3> <b>网络流数据</b> </h3></center> 
<div class="row">
    <div class="panel panel-body">  
        <div class="row">
            <div class="col-md-12">

                    <font size=3>自动刷新</font>
                    <div class="switch switch-small">
                        <input name="auto_refresh_box" id="auto_refresh_box" type="checkbox" onchange="change_auto_refresh(this)" checked />
                    </div>
                    <div class="form-group pull-right">
                            <button id="ipv4_only_button" class="btn btn-default btn-sm btn-info" onclick="change_ipv4_show_case();return false;">{{_('仅显示IPv4')}}</button>
                            <button id="merge_ip_choice_button" class="btn btn-default btn-sm btn-info" onclick="change_merge_ip_choice();return false;">{{_('同IP多端口合并')}}</button>

                    </div>
                    <div class="form-group pull-right" style="padding-right: 1%">
                            <select class="form-control input-sm" id="protocol_selection" onchange="change_protocol_selection(this.value);return false;">
                                    <option value="all"> 显示所有协议</option>
                                    <option value="tcp_only">仅显示TCP协议</option>
                                    <option value="udp_only">仅显示UDP协议</option>
                            </select>
                    </div>
            </div>
        </div>
        
    </div>
</div>
<table class="table table-hover table-bordered table-striped" style="margin-bottom: 0px; margin-top: 10px;">
    <thead>
        <tr>
            <th>应用</th>
            <th> 协议</th>
            <th>Client</th>
            <th>Server</th>
            <th>连接时长</th>
            <th>真实传输率</th>
            <th>总Bytes数</th>
            <th>禁止访问</th>
        </tr>
    </thead>
    <tbody id="flow_table">

    </tbody>
</table>


{% import "portal/blocks.html" as blocks %}
{{ blocks.pager('/portal/flows?', total_row, limit, page) }}


{% endblock %}
